		#include <winresrc.h>
		# ifdef _WIN32
		LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
		# pragma code_page(1252)
		# endif //_WIN32
		VS_VERSION_INFO VERSIONINFO
 		FILEVERSION 1,13
 		PRODUCTVERSION 1,13
 		FILEFLAGSMASK 0x3fL
		# ifdef _DEBUG
 		FILEFLAGS 0x1L
		# else
 		FILEFLAGS 0x0L
		# endif
 		FILEOS 0x4L
 		FILETYPE 0x2L
 		FILESUBTYPE 0x0L
		BEGIN
    		BLOCK "StringFileInfo"
    		BEGIN
        		BLOCK "040904b0"
        		BEGIN
        			VALUE "Comments", "Built on Thu Mar 20 15:07:33 2014 with SIT 2010"
        			VALUE "FileVersion", "1.13"
          			VALUE "OriginalFilename", "template_test.dll"
           			VALUE "ProductName", "Template_test"
           			VALUE "ProductVersion", "1.13"
        		END
    		END
    		BLOCK "VarFileInfo"
    		BEGIN
        		VALUE "Translation", 0x409, 1200
    		END
		END
